<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <p>My Travel App</p>
    </header>
    <div class="content">
      <!-- section to configure initial travel -->
      <section id="trip-config-section">
        <div class="trip-config-image">
          <img id="globe" alt="globe">
        </div>
        <form class="travel-inputs" onsubmit="return Client.f_requestTravelInformations(event);">
          <div class="row">
            <label for="start-date">Start date</label>
            <input type="date" name="start-date" id="start-date" value="">
          </div>
          <div class="row">
            <label for="end-date">End date</label>
            <input type="date" name="end-date" id="end-date" value="">
          </div>
          <div class="row">
            <label for="destination">Destination</label>
            <input type="text" name="destination" id="destination" value="">
          </div>
          <input type="submit" name="submit" value="Add your trip">
        </form>
      </section>
      <!-- section to display travel informations -->
      <section id="trip-info-section" class="section-hidden">
        <div class="trip-image">
          <img src="#" alt="Travel location">
        </div>
        <div class="trip-info">
          <div class="trip-info-content">
            <div class="column">
              <h4>Destination: <span>Paris, France</span></h4>
              <h4>Departure date: <span>01-01-2022</span> </h4>
              <h4>Return date: <span>01-02-2022</span> </h4>
              <h4>Travel duration: <span>31 days</span> </h4>
              <h4>Number of days before departure: <span>31 days</span> </h4>
              <h4>Additional informations:</h4>
              <textarea name="additional-informations" rows="10" cols="35"></textarea>
            </div>
            <div class="column">
              <h4>Today's weather:</h4>
              <p>today</p>
              <h4>Weather forecast:</h4>
              <p>first day</p>
              <p>second day</p>
              <div id="results"></div>
            </div>
            <div class="column">
              <button type="button" name="button" id="bttn-save"><em class="fas fa-save"></em> Save trip</button>
              <button type="button" name="button" id="bttn-delete" onclick="return Client.f_displayTravelRequest();"><em class="fas fa-times-circle"></em> Delete trip</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
