/*
Header
*/
header {
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  grid-area: top;
  border-radius: 5px;
}


/*
Footer
*/
footer {
  grid-area: bottom;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 15px;
  border-radius: 5px
}
