/*
Load external files
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	width: 100%;
	margin: 0;
	padding: 0;
}
/*
Header
*/
/* global */
header {
	height: 8vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	background: white;
	font-size: 0.5em;
}

/* logo */
.axa-logo-container {
	height: 100%;
	width: auto;
}
#axa-logo {
	height: 100%;
}

/* navigation menu */
.platform-navbar-menu {
	height: 100%;
	width: 90%;
}
#platform-navbar-list {
  padding-left: 0;
  margin: 0;
}

#platform-navbar-list li{
  display: inline-block;
  width: 18%;
}

.platform-navbar-link {
  text-decoration: none;
  word-spacing: 50px;
  height: 8vh;
  color: black;
  display: block;
  text-align: center;
  line-height: 4vh;
  font-size: 0.5em;
}

.platform-navbar-link:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  transition: ease 0.3s all;
}

.platform-navbar-active-section  {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* power off button */
#power-off-button {
	height: 100%;
	width: 5%;
	min-width: 25px;
}


/*
Footer
*/
footer {
	height: 10vh;
	padding: 2vh;
	background-color: black;
	color: white;
}



/*
Screen size management
*/
@media only screen and (min-width: 655px) {
	.platform-navbar-link {
		text-decoration: none;
		height: 8vh;
		color: black;
		display: block;
		text-align: center;
		line-height: 4vh;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 775px) {
	.platform-navbar-link {
		text-decoration: none;
		word-spacing: inherit;
		height: 8vh;
		color: black;
		display: block;
		text-align: center;
		line-height: 8vh;
	}
}
