/*
Load external files
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/*
Header style
*/
.platform-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  height: 8vh;
  display: grid;
  grid-template-columns: 15% 70% 1fr;
  grid-template-areas:
    "logo   navbar  powerOff";
  background-color: white;
  color: black;
  font-size: 0.7em;
}

/* logo */
#axa-logo {
  min-height: 70px;
  height: 8vh;
  grid-area: logo;
}

/* power off button */
#power-off {
  min-height: 70px;
  min-width: 70px;
  height: 9vh;
  width: 9vh;
  grid-area: powerOff;
  position: fixed;
  right: 0;
}

/* navigation menu */
.platform-navbar-menu {
  grid-area: navbar;
  height: 8vh;
  min-height: 70px;
}

#platform-navbar-list {
  padding-left: 5vw;
  margin: 0;
}

#platform-navbar-list li{
  display: inline-block;
  width: 18%;
}

.platform-navbar-link {
  text-decoration: none;
  min-height: 70px;
  height: 8vh;
  color: black;
  display: block;
  text-align: center;
  line-height: 8vh;
}

.platform-navbar-link:hover {
  background: rgba(0,13,60,1);
  color: #fff;
  transition: ease 0.3s all;
}

.platform-navbar-active-section  {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}


/*
Footer style
*/
.platform-footer {
  height: 5vh;
  background-color: black;
  color: white;
  padding: 1vh;
}


/*
Screen size adjustments
*/
@media only screen and (min-width: 1000px) {
  .platform-header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    height: 8vh;
    display: grid;
    grid-template-columns: 15% 70% 1fr;
    grid-template-areas:
      "logo   navbar  powerOff";
    background-color: white;
    color: black;
  }
}

@media only screen and (min-width: 1920px) {
  #power-off {
    min-height: 70px;
    min-width: 70px;
    height: 8vh;
    width: 8vh;
    grid-area: powerOff;
    position: fixed;
    right: 0;
  }
}
