/*
Load external files
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/*
Global
*/
h1 {
  border-bottom: 1px solid gold;
}



/*
Body style
*/
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


.platform-main {
  margin: 15vh 5vw 10vh;
}

/* section */
.platform-section-container {
  min-height: 60vh;
  max-width: 60vw;
}

.platform-tools {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-areas:
    "top        top"
    "shortcut  description";
}

.tools-shortcut {
  grid-area: shortcut;
}

/* tools shortcut */
.tools-shortcut h3 {
  /* padding-top: 20px; */
}

.tool-selection {
  text-align: center;
  border-radius: 5px;
}

.tool-selection:hover {
  font-size: 2em;
  box-shadow: 1px 1px 5px 2px;
  transition: ease 1s all;
}

/* tools description */
.tools-description {
  grid-area: description;
}

.tools-description-wrapper {
  border: 0.5px solid white;
  border-radius: 5px;
  height: 30vh;
  width: 80%;
  margin-left: 25px;
}

.tool-description {
  display: none;
  text-align: justify;
  padding: 20px;
}
