header {
    display: flex;
    background-color: darkblue;
    color: white;
    height: 120px;
    width: 100%;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5em;
      font-weight: bold;
      padding: 15px;
    }

    .subtitle {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      font-weight: bold;
      padding: 10px
    }
}
