body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #0003CA;
  color: white;
  font-weight: bold;
}

.content {
  display: inline-block;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
}

.section-hidden {
  display: none;
}


/*
Screen size management
*/
@media only screen and (max-width: 1000px) {
	.content {
		font-size: 75%;
    display: block;
	}

  .trip-info .trip-info-content {
    display: block;
  }

  textarea {
    max-inline-size: 80%;
  }

  #trip-image2 {
    width: 0%;
  }
  #trip-image3 {
    width: 0%;
  }
  #trip-image1 {
    width: 100%;
  }
}