#trip-config-section {
  background-color: #73bee7;
  height: 100vh;
}
.trip-config-image {
  width: 100%;
  text-align: center;
}
.trip-config-image img {
  position: relative;
  width: 25%;
  border-radius: 100%;
}


.travel-inputs {
  display: block;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  border-radius: 5px;
  width: 200px;
  height: 25px;
}
input[type='submit'] {
  margin-top: 10px;
  margin-bottom: 50px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid #0003CA;
  background-color: #00d310;
}
