#trip-info-section {
  background-color: #73bee7;
  height: calc(100% - 50px);
}


.trip-image {
  width: 100%;
  height: 50%;
  text-align: center;
}
.trip-image img {
  position: relative;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 50%;
}

.trip-info {
  width: 100%;
  height: 50%;
  /* text-align: center; */
  background-color: white;
}
.trip-info-content {
  position: relative;
  top: 20px;
  left: 50px;
  width: calc(100% - 50px);
  display: grid;
  grid-template-columns: 30vw 30vw auto;
  padding-bottom: 50px;
}
.column {
  display: inline-block;
  width: 100%;
}

h4 span {
  font-weight: normal;
}

textarea {
  size: 100%;
}

button {
  height: 40px;
  padding: 10px;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 10px;
  color: white;
}
#bttn-save {
  background-color: #00d310;
}
#bttn-delete {
  background-color: #d60000;
}
